@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: local("Gilroy"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  src: local("Gilroy"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
}

html {
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
    background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
    font-family: "Gilroy", sans-serif;
}

body.open {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.thumbnail {
    background: 50% / cover no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

header {
    padding: 23px 0px;
    background: #403C3B;
    box-shadow: 0px 30px 60px rgba(34, 31, 32, 0.2);
}

header .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.header-logo {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.15em;
}

.address {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 555px;
    padding: 15px;
    border-radius: 10px;
    background: #504B4A;
}

.address input {
    color: #fff;
    background: transparent;
    width: 100%;
    height: 24px;
    padding: 0 5px;
    outline: none;
    border: 0;
    font-family: fantasy;
}

.address input::-webkit-input-placeholder {
    color: #CFCFCF;
    font-weight: 400;
    font-size: 1.29em;
    font-family: 'Gilroy';
}

.address input::-moz-placeholder {
    color: #CFCFCF;
    font-weight: 400;
    font-size: 1.29em;
    font-family: 'Gilroy';
}

.address input:-ms-input-placeholder {
    color: #CFCFCF;
    font-weight: 400;
    font-size: 1.29em;
    font-family: 'Gilroy';
}

.address input::-ms-input-placeholder {
    color: #CFCFCF;
    font-weight: 400;
    font-size: 1.29em;
    font-family: 'Gilroy';
}

.address input::placeholder {
    color: #CFCFCF;
    font-weight: 400;
    font-size: 1.29em;
    font-family: 'Gilroy';
}

.address button {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-image: url(../images/svg/search.svg);
    background-repeat: no-repeat;
}

.fa-placeholder {
    background-image: url(../images/svg/placeholder.svg);
    background-repeat: no-repeat;
    width: 24px;
    min-width: 24px;
    height: 24px;
}

.header-contact {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-contact__info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.header-contact__info span {
    font-size: 0.85em;
    color: #CFCFCF;
    line-height: 20px;
}

.header-contact__info a {
    font-size: 1.14em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.fa-calling {
    position: relative;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.fa-calling img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-basket {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 149px;
    max-height: 52px;
    padding: 18px 24px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
}

.btn-basket__label {
    font-size: 1em;
    font-weight: 600;
}

.btn-basket__divider {
    display: block;
    width: 1px;
    height: 24px;
    background-color: #fff;
    margin: 0 10px;
}

.btn-basket__num {
    display: block;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    color: #403C3B;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1242px;
    padding: 0 15px;
}

.navigation {
    padding: 29px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-primary {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    position: relative;
    font-weight: 500;
    font-size: 1.29em;
    line-height: 21px;
    color: #cfcfcf;
}

.nav-link::after {
    display: block;
    position: absolute;
    background: #618967;
    box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
    top: 50px;
    height: 3px;
    content: "";
}

.nav-link:hover:after {
    width: 100%;
}

.intro-section {
    padding: 100px 0 130px 0;
}

.intro-section .container {
    display: -ms-flexbox;
    display: flex;
}

.section-divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 15px 33px;
    transition: .3s;
    border-radius: 10px;
    font-size: 1.43em;
    line-height: 30px;
    font-weight: 500;
    border: none;
    font-family: "Gilroy", sans-serif;
}

.button.green {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
}

.button.white {
    background-color: #fff;
    color: #588535;
}

.fullscreen-section {
    background: url("../images/img/main.jpg") no-repeat center/cover;
    height: calc(100vh - 100px);
    position: relative;
}

.fullscreen-section .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.fullscreen-section .container > div {
    color: #fff;
    font-weight: 600;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    -webkit-transform: rotate(-8.37deg);
    transform: rotate(-8.37deg);
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px 28px;
    margin: 40px auto 0;
}

.fullscreen-section h1 {
    margin: 0;
    font-style: italic;
    text-shadow: -9px 5px 10px black;
    text-align: center;
    font-size: 6.3em;
    font-weight: 700;
    -webkit-transform: rotate(-8.37deg);
    transform: rotate(-8.37deg);
    color: #fff;
    text-transform: uppercase;
}

.fullscreen-section::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #211f20 0%, rgba(33, 31, 32, 0.6) 70%, rgba(33, 31, 32, 0) 100%);
}

.product-section {
    padding: 50px 0 50px;
}

.product-title h2 {
    font-size: 2.29em;
    text-transform: uppercase;
    line-height: 39px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    border-left: 4px solid #618967;
    padding-left: 19px;
    margin-bottom: 50px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.product-item {
    position: relative;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    margin: 0 10px 15px;
    width: 325px;
    border-radius: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.product-item:hover .product-options {
    visibility: visible;
    opacity: 1;
    top: calc(100% - 15px);
    transition: top .35s linear, opacity .15s linear;
}

.product-options__inf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.product-image {
    display: -ms-flexbox;
    display: flex;
    height: 227px;
    border-radius: 10px 10px 0px 0px;
}

.product-content {
    padding: 14px 16px 18px 16px;
}

.product-name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
}

.product-name h6 {
    font-size: 1.57em;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 5px;
}

.description {
    height: 34px;
    color: #CFCFCF;
    margin-top: 8px;
}

.primary-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
    max-height: 44px;
    color: #fff;
    padding: 14px 20px;
    transition: .3s;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    font-size: 1em;
    font-weight: 600;
    line-height: 17px;
    border: none;
    border-radius: 10px;
    font-family: "Gilroy", sans-serif;
}

.primary-button:hover {
    box-shadow: 0px 5px 7px rgba(114, 163, 121, 0.5);
}

.primary-button.minus-button, .primary-button.add-button, .primary-button.remove-button {
    padding: 10px;
    width: 35px;
    height: 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
}

.primary-button.minus-button:hover, .primary-button.add-button:hover, .primary-button.remove-button:hover {
    box-shadow: none;
}

.primary-button.minus-button img, .primary-button.add-button img, .primary-button.remove-button img {
    margin: auto;
}

.product-options {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: calc(100% - 15px);
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 0 0 15px 15px;
    padding: 0 15px 15px;
    visibility: hidden;
    opacity: 0;
    transition: .15s;
}

.product-options .general-amount {
    outline: 0;
    width: 25px;
    border: 0;
    background: transparent;
}

.product-options .general-amount, .product-options .price {
    display: inline-block;
    font-size: 1.43em;
    color: #fff;
    font-weight: 600;
    min-width: 60px;
    text-align: center;
}

.bold {
    display: inline-block;
    font-family: 'Gilroy', sans-serif;
}

.bold::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 16px;
    height: 24px;
    width: 24px;
    background: url("../images/svg/buy.svg") no-repeat;
    transition: all .3s;
}

.product-counter {
    display: none;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 50px;
    height: 50px;
    background: #79B382;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.43em;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.about-page-section {
    padding-top: 43px;
}

.about-page-section .container {
    padding: 100px 0 71px;
    position: relative;
}

.about-page-wrap {
    background: url("../images/img/about-us.jpg") no-repeat center/cover;
    height: 610px;
    position: relative;
    margin: 0 auto;
    max-width: 1333px;
    padding: 0 15px;
    z-index: 10;
}

.about-page-wrap::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #211F20 0%, rgba(68, 64, 63, 0) 100%);
}

.about-page-section__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

h4 {
    font-size: 2.29em;
    line-height: 39px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 26px;
}

.about-page-section__article p {
    max-width: 563px;
    font-size: 1.43em;
    line-height: 25px;
    color: #CFCFCF;
    margin-bottom: 60px;
}

.about-page-section__menu {
    display: inline-block;
    text-align: center;
    width: 223px;
    max-height: 59px;
    padding: 22px 25px;
    font-size: 0.93em;
    font-weight: 700;
    line-height: 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: .2s linear;
}

.about-page-section__menu:hover {
    color: #CFCFCF;
    transition: .3s linear;
}

.about-page-tiles__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: end;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    width: 228px;
    height: 227px;
    padding: 40px 22px;
    background: rgba(80, 75, 74, 0.9);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    cursor: pointer;
}

.about-page-tiles__item:hover span {
    color: #79B282;
    transition: .3s linear;
}

.about-page-tiles__item:hover svg {
    fill: #79B282;
    transition: .3s linear;
}

.about-page-tiles__item svg {
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 26px;
    fill: #fff;
    transition: .2s linear;
}

.about-page-tiles__item span {
    display: inline-block;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    transition: .2s linear;
}

.about-page-section__tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.contact-map-section {
    background: url("../images/img/map.jpg") no-repeat center/cover;
    height: 665px;
    position: relative;
    margin-top: -150px;
    padding-top: 225px;
    padding-bottom: 50px;
}

.contact-map-section .container {
    margin: auto;
    position: relative;
}

.contact-map-section.prod {
    margin: 0;
    position: static;
}

.contact-map-section span {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 0.93em;
    line-height: 16px;
    color: #CFCFCF;
}

.contact-map-section__block {
    padding: 25px 43px;
    background: #2E2B2C;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 526px;
}

.contact-map-section__block h4 {
    margin-bottom: 26px;
}

.contact-map-section__block .fa-location {
    display: block;
    background-image: url(../images/svg/Location.svg);
    background-repeat: no-repeat;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contact-map-section__block .fa-mail {
    display: block;
    background-image: url(../images/svg/Message.svg);
    background-repeat: no-repeat;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contact-map-section__inf p {
    font-weight: 700;
    font-size: 1em;
    line-height: 16px;
    color: #fff;
    margin: 0;
}

.contact-map-section__adress {
    padding-top: 15px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-map-section__mail {
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-map-section__mail a {
    display: inherit;
    font-weight: 700;
    font-size: 1em;
    line-height: 16px;
    color: #fff;
    margin: 0;
}

.contact-map-section__book {
    margin-top: 15px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.contact-map-section__book .button {
    height: 59px;
    padding: 22px 21px;
    font-size: 0.98em;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-map-section__tel a {
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    font-size: 1.64em;
    display: block;
}

.contact-map-section__social {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-map-section__social p {
    font-size: 1.14em;
    color: #fff;
    line-height: 19px;
    margin-bottom: 0;
    margin-right: 26px;
}

.order-section {
    padding: 34px 0 40px;
}

.back-to-products {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.36em;
    font-weight: 700;
}

.back-to-products::before {
    content: "\276E";
    display: block;
    margin-right: 8px;
}

.order-section-top h2 {
    margin-bottom: 71px;
}

.order-section-main {
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
}

.product-item.order-view {
    padding: 20px 40px 20px 20px;
    margin: 0;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: none;
}

.product-item.order-view:last-child {
    border-bottom: 0;
}

.product-item.order-view .product-options {
    max-width: 40%;
    margin-left: auto;
    position: static;
    visibility: visible;
    opacity: 1;
    background: none;
    padding: 0;
    -ms-flex-direction: row;
    flex-direction: row;
}

.product-item.order-view .product-options__amount {
    margin: 0;
}

.product-item.order-view .product-name h6 {
    font-size: 1.28em;
    text-transform: uppercase;
}

.product-item.order-view .product-image {
    -ms-flex: 0 0 117px;
    flex: 0 0 117px;
    height: 86px;
}

.product-item.order-view .product-content {
    max-width: 300px;
    padding: 0 16px 0 43px;
}

.product-item.order-view .description {
    font-size: 0.86em;
    line-height: 14px;
    margin: 0;
    height: auto;
    color: #A6A7AB;
}

.additive-section {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.additive-section h2 {
    font-size: 1.79em;
    color: #fff;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
}

.additives-section-content {
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
}

.additives-section-product {
    padding: 19px 35px 15px;
    -ms-flex: 1 1;
    flex: 1 1;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.additives-section-product:last-child {
    border-right: 0;
}

.additives-section-product .product-image {
    height: 123px;
    width: 209px;
    margin: auto;
}

.additives-section-inf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.additives-section-inf h6 {
    font-size: 1em;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.additives-section-inf .price {
    color: #FFFFFF;
    font-size: 0.86em;
    font-weight: 700;
}

.additives-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.additives-button span {
    display: inline-block;
    color: #C6CED1;
    font-size: 0.86em;
    line-height: 14px;
    margin-right: 5px;
}

.additives-button .add-button.primary-button {
    padding: 5px;
    width: 18px;
    height: 18px;
}

.summary-section {
    padding: 50px 0 89px;
}

.summary-section-content {
    padding: 20px 27px 11px 39px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    max-width: 763px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
}

.summary-section-inf div {
    font-size: 0.86em;
    color: #fff;
    margin-bottom: 11px;
}

.summary-section-inf div span {
    color: #72a479;
}

.summary-section-inf .summary-section-total {
    font-weight: 500;
    font-size: 1.29em;
    line-height: 21px;
    margin-bottom: 5px;
    color: #A6A7AB;
}

.summary-section-inf .summary-section-total strong {
    color: #fff;
}

.summary-section-btn .button.green {
    padding: 17px 50px;
    font-weight: 700;
    font-size: 1em;
    line-height: 17px;
}

.order-form-section {
    padding: 49px 0 90px;
}

.order-form-content {
    max-width: 800px;
    margin: auto;
}

.background {
    padding: 32px 30px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.29em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 31px;
    line-height: 22px;
}

.form-control {
    padding: 20px 32px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    outline: 0;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
    font-size: 1.14em;
}

.form-control::-moz-placeholder {
    color: #fff;
    font-size: 1.14em;
}

.form-control:-ms-input-placeholder {
    color: #fff;
    font-size: 1.14em;
}

.form-control::-ms-input-placeholder {
    color: #fff;
    font-size: 1.14em;
}

.form-control::placeholder {
    color: #fff;
    font-size: 1.14em;
}

.order-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.order-btn span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 1.14em;
    margin-left: 20px;
}

.order-btn span::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/svg/clock.svg);
}

.order-btn .form-control {
    margin: 0 0 0 15px;
}

.options {
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    border: 1px solid #72A479;
    overflow: hidden;
}

.order-select {
    width: 184px;
    padding: 20px 15px;
    background: transparent;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #72A479;
    font-size: 1.14em;
    color: #fff;
    cursor: pointer;
}

.order-select .order-select:last-child {
    border-right: 0;
}

.order-select.active {
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-right: 1px solid #72A479;
}

.order-delivery p {
    font-size: 1.14em;
    color: #fff;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: 22px;
}

.order-delivery-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 60px;
    gap: 15px;
}

.order-delivery-form .form-control {
    margin: 0;
}

.order-delivery-form .form-control.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.order-delivery-form .form-control.box2 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.order-delivery-form .form-control.box6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.order-delivery-type-2 {
    display: none;
}

.order-delivery-type-2 .order-delivery-restaurant {
    width: 100%;
    min-width: 350px;
    max-width: 350px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
    font-size: 1em;
    cursor: pointer;
    line-height: 16px;
    background-color: transparent;
    color: #fff;
}

.order-pay-btn {
    margin-bottom: 15px;
}

.order-time-callback {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.order-time-callback p {
    font-size: 1.14em;
    color: #fff;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: 22px;
}

.personal-amount-inf {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 16px;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 10px;
    padding: 11px 10px 11px 20px;
    width: 260px;
    margin-bottom: 22px;
}

.callback-item {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 0.93em;
    margin-bottom: 26px;
}

.callback-item input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.callback-item input[type="radio"] + label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
}

.callback-item input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    background: transparent;
    aspect-ratio: 1;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s;
}

.callback-item input[type="radio"] + label::after {
    content: "";
    display: inline-block;
    width: 14px;
    background: #72a479;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s;
}

.callback-item input[type="radio"]:checked + label::after {
    opacity: 1;
}

.callback-item input[type="radio"]:checked + label::before {
    border: 1px solid #72A479;
}

.order-section-submit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.order-section-submit .primary-button {
    font-size: 1em;
    line-height: 17px;
    padding: 17px 50px;
    max-height: none;
}

.submit-content {
    color: #fff;
    font-size: 0.93em;
    font-weight: 500;
}

.submit-content label {
    cursor: pointer !important;
}

.submit-content a {
    display: inline-block;
    margin-left: 3px;
    color: #72a479;
    text-decoration: underline;
}

.submit-content a:hover {
    color: #58835e;
    text-decoration: none;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    background-image: url(../images/svg/submit.svg);
}

.main-product-section {
    padding: 40px 0 50px 0;
}

.pre-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    line-height: 19px;
    font-size: 1.14em;
    margin-bottom: 25px;
}

.pre-page svg {
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.main-product {
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
}

.main-product-image {
    width: 539px;
}

.main-product-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.main-product-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 38px 50px 25px;
}

.main-product-title {
    max-width: 411px;
}

.main-product-title h3 {
    font-size: 1.79em;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-bottom: 5px;
}

.main-product-title p {
    font-size: 1em;
    line-height: 16px;
    color: #CFCFCF;
}

.main-product-footer p {
    display: inline-block;
    font-size: 1em;
    line-height: 16px;
    color: #fff;
    margin-bottom: 22px;
}

.product-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.product-button .btn-basket {
    margin-right: 25px;
}

.product-button .price {
    font-size: 1.79em;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}

.product-nutrition {
    display: -ms-flexbox;
    display: flex;
}

.product-nutrition-item {
    color: #fff;
    margin-right: 50px;
}

.product-nutrition-label {
    margin-bottom: 5px;
}

.extra-product-section {
    padding: 50px 0 85px 0;
}

.extra-product-section .product-options:hover {
    visibility: visible;
    opacity: 1;
}

.product-options__amount {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.product-options .general-amount {
    outline: 0;
    width: 25px;
    border: 0;
    background: transparent;
}

.product-options .general-amount {
    display: inline-block;
    font-size: 1.43em;
    color: #fff;
    font-weight: 600;
    min-width: 60px;
    text-align: center;
}

.product-counter {
    display: none;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 50px;
    height: 50px;
    background: #79B382;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.43em;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.personal-amount-inf .general-amount {
    max-width: 30px;
    outline: 0;
    height: 20px;
    padding: 15px 0px;
    background: transparent;
    color: #fff;
    border: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.personal-amount-inf .primary-button {
    background: transparent;
}

.personal-amount-inf .product-options__amount {
    margin: 0;
}

.terms-section {
    padding: 50px 0 37px;
}

.terms-section h2 {
    margin-bottom: 42px;
}

.terms-section-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
}

.terms-content-info {
    width: 100%;
    margin-right: 20px;
}

.terms-item-content {
    display: none;
}

.term-items {
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    margin-bottom: 10px;
}

.term-items-head {
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 30px 17px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
    border-radius: 10px;
}

.term-items-head p {
    font-size: 1.29em;
    line-height: 35px;
    font-weight: 500;
    margin: 0;
    color: #fff;
}

.term-items-head img {
    width: 14px;
    height: 7px;
}

.term-items.show .terms-item-content {
    display: block;
    font-size: 1.14em;
    line-height: 25px;
    padding: 37px 41px 40px 30px;
    color: #fff;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.term-items.show .terms-item-content img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.terms-content-map img {
    min-width: 640px;
    height: 610px;
    border-radius: 10px;
}

.terms-schedule {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}

.terms-schedule-info {
    margin-right: 100px;
}

.terms-schedule-info h6 {
    font-size: 1.57em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
}

.terms-schedule-info span {
    display: inline-block;
    color: #CFCFCF;
    font-size: 1em;
}

.terms-order {
    max-width: 700px;
}

.terms-order h6 {
    font-size: 1.57em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
}

.terms-order p {
    font-size: 1.57em;
    color: #CFCFCF;
    margin-bottom: 10px;
    line-height: 35px;
}

.discounts-section {
    padding: 50px 0 70px;
}

.discounts-section h2 {
    margin-bottom: 36px;
}

.discounts-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 25px;
}

.discounts-tile-image {
    height: 180px;
}

.discounts-tile {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.discounts-tile-text {
    -ms-flex: auto;
    flex: auto;
    position: relative;
    padding: 15px 25px 30px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.discounts-tile-text h6 {
    font-size: 1.57em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 35px;
}

.discounts-tile-text p {
    font-size: 1em;
    line-height: 16px;
    color: #A6A7AB;
}

.discounts-tile-text span {
    position: absolute;
    left: 25px;
    bottom: 15px;
    color: #6FA076;
}

.modal-fade {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.modal-fade.show {
    visibility: visible;
    opacity: 1;
}

.close {
    padding: 0;
    top: 20px;
    right: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
}

.icon-close {
    width: 19px;
    height: 19px;
}

.modal-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 100%;
    pointer-events: none;
}

.modal-content {
    max-width: 458px;
    min-height: 348px;
    margin: 30px auto;
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px;
    box-shadow: none;
    padding: 60px 56px;
    pointer-events: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.modal-content h3 {
    font-size: 2em;
    text-align: center;
    color: #333;
}

.modal-content p {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.modal-content-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.modal-content-info h5 {
    font-size: 2.14em;
    margin: 15px 0 44px;
}

footer {
    padding: 26px 0 28px;
    background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
}

footer .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.footer-inf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 86px;
}

.footer-inf p {
    color: #fff;
    font-size: 1.86em;
    line-height: 25px;
    letter-spacing: 0.15em;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-inf a {
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    line-height: 16px;
    position: relative;
    margin-bottom: 5px;
}

.footer-inf a::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    position: absolute;
}

.footer-inf a:hover:after {
    border: none;
}

.footer-inf span {
    width: 189px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 0.93em;
    line-height: 16px;
    color: #CFCFCF;
}

.footer-nav__link {
    display: -ms-flexbox;
    display: flex;
}

.footer-nav__link a {
    color: #fff;
    font-weight: 500;
    font-size: 1.42em;
    line-height: 24px;
    margin-right: 50px;
}

.footer-nav {
    display: -ms-flexbox;
    display: flex;
}
